GOOGLE_API_KEY=
COMPOSIO_API_KEY=
USER_ID=

# PIN for Aegis Authentication (6-digit numeric)
AEGIS_PIN=123456
DEVICE_ID=
BACKEND_URL=https://apiaegis.projectalpha.in
DASHBOARD_URL=https://aegisdashboard.projectalpha.in
